@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
html, body{
    background-color: white;
    font-family: 'Rubik Mono One', sans-serif;
}

.navbar-custom{
    background-color: #1e2023;
    color:white;
}

ul.nav a:hover { 
    color: black!important;
    background-color: grey;
}



ul.nav a {
    color : gray;
}