@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
html, body{
    
    background-image: url('https://thumbs.dreamstime.com/x/asian-seamless-pattern-style-red-orange-gradient-texture-web-print-wallpaper-textile-design-background-invitation-61503171.jpg');
    font-family: 'Playfair Display SC', serif;
}

.navbar-custom{
    background-color: red;
    color:white;
}

ul.nav a:hover { 
    color: black!important;
    background-color: grey;
}
.sliderTitle{
    color:#4286f4;
    font-family: 'Yellowtail', cursive;
}



ul.nav a {
    color : gray;
}
.navbar-simple .brand {
 	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-simple .navbar-inner {
	background: #fff;
	filter: none !important;
	box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navbar-simple .navbar-inner .nav {
	float: right;
}
.navbar-simple .navbar-inner .nav li a {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #777;
	font-size: 13px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 600;
}
.navbar-simple .navbar-inner .nav li a:hover {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #bf3604;
}		
.navbar-simple .navbar-inner .nav li.active a {
	color: #bf3604;
}
